<div class="col-md-12 col-12 a_ico">
  <div id='upcoming_ico' class="white-desk ico-card">
    <i class="fa fa-rocket" aria-hidden="true" title="Advertising"></i>
    <div class="ico-list-item">
      <div class="ico-icon">
        <a id='ccc' [attr.href]="project.has_detail == '1' ? '/' + project.id : project.website" [attr.target]="project.has_detail === '1' ? '_parent': '_blank'" [attr.data-id]="project.id">
          <div class="pre-icon" *ngIf="project.is_presale ==='1'">PRE SALE</div>
          <img width="150" height="150" alt="{{project.name}}" [attr.src]="'./assets/img/logo/' + project.logo" data-lazy-type="image"/>
        </a>
      </div>

      <div class="ico-main-info">
        <h3>
          <a [attr.href]="project.has_detail == '1' ? '/' + project.id : project.website" [attr.target]="project.has_detail === '1' ? '_parent': '_blank'">{{project.name}}</a>
          <i *ngIf="project.has_detail == '0'" class="fa fa-external-link" [attr.title]="'go to ' + project.name"></i>
          <i *ngIf="project.has_detail == '1'" class="fa fa-check green" [attr.title]="'detail ' + project.name"></i>
        </h3>
        <div class="goal-in-card" *ngIf="project.goal != ''">
          GOAL: ${{project.goal | number}}
        </div>
        <div class="goal-in-card" *ngIf="project.goal == ''">
          MOON: {{project.moon}}
        </div>
        <div class="categ_desc_short" *ngIf="project.description != ''">{{project.description.substring(0, 36)}}...</div>
        <div class="categ_desc_short" *ngIf="project.description == ''">Ticker: {{project.ticker}}</div>
      </div>
    </div>
    <div class="interest">
      <span class="spspan">{{project.rating}}/5</span>
    </div>
    <div class="date">
        <span [attr.class]="'spspan ' + project.hype.replace(' ','_').toLowerCase() + '1'">{{project.hype}}</span>
    </div>
    <div class="end_date">
        <span [attr.class]="'spspan ' + project.scam.replace(' ','_').toLowerCase() + '2'">{{project.scam}}</span>
    </div>
    <div class="end_date">
        <span [attr.class]="'spspan ' + project.moon.replace(' ','_').toLowerCase() + '3'">{{project.moon}}</span>
    </div>
    <div class="end_date">
        <span class="spspan">{{project.start}}</span>
    </div>
    <div class='end_date'>
        <span class="spspan">{{project.end}}</span>
    </div>
    <div class='end_date'>
        <span class="spspan">{{project.status}}</span>
    </div>
    <div class='end_date'>
        <span class="spspan">{{project.betting}}</span>
    </div>
  </div>
</div>
