<div id="page" class="site">
  
          <header id="masthead" class="site-header">
              <div><div class="textwidget custom-html-widget"></div></div>	<div id="ico-header" class="white-desk">
                  <div class="container">
                      <div class="row">
                          <div class="col-12">
                              <nav id="site-navigation" class="main-navigation">
                                  <div class="menu-left-container">
                                      <ul id="ico-menu" class="menu">
                                          <li id="menu-item-1030" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1030"><a href="#">BOUNTY</a></li>
                                          <li id="menu-item-7545" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-7545"><a href="#">TRADITIONAL ICO</a></li>
                                          <li id="menu-item-7546" class="menu-item menu-item-type-taxonomy menu-item-object-category current-menu-item menu-item-7546 active "><a href="#">LENDING ICO</a></li>
                                      </ul>
                                  </div>
                                  <div>
                                      <a href="/" rel="home" id="logo-a" itemprop="url"><img id="ico-header-logo" src="./assets/img/ico-logo.png" alt='ICO Lending Reviews - Calendar of active and upcoming ICO'></a>
                                      <div id="sm-search-icon"></div>
                                  </div>
                              </nav><!-- #site-navigation -->
                          </div>
                      </div>
                  </div><!-- container -->
              </div><!-- #ico-header -->
  
          </header><!-- #masthead -->
  
          <div id="content" class="site-content">
              <div id="primary" class="content-area">
                  <main id="main" class="site-main">
                      <div id='careg_ico' class="container">
                          <!-- hmjim start -->
                          <div class='valute col-12'>
                              <div class='latest_post_home'>
                                  <div class='soc_wrap'>
                                      <div class="widget_text soc_link">
                                          <div class="textwidget custom-html-widget">
                                              <span class="telega">
                                                  <a href="#" target="_blank">TELEGRAM</a>
                                                  <!-- <span class="soc_count">(2.9K+)</span> -->
                                              </span>
                                              <span class="twitter">
                                                  <a href="https://twitter.com/icolendreviews" target="_black">TWITTER</a>
                                                  <!-- <span class="soc_count">(4K+)</span> -->
                                              </span>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- hmjim end -->
                          <router-outlet></router-outlet>
  
                      </div>
                  </main><!-- #main -->
              </div><!-- #primary -->
  
  
          </div><!-- #content -->
  
          <footer id="colophon" class="new-site-footer">
                          <div class="container">
                              <div class="row">
                                  <div class="col-12">
                                      <div class='new_footer_wrap'>
                                          <div class='new_footer_col_one'>
                                              <div class='new_footer_logo'><a href='/'><img src='./assets/img/footerlogo.png' alt='ICO Lending Reviews - Calendar of active and upcoming ICO'></a></div>
                                              <div class='new_footer_copyright'>
                                                  <p>Made with <i class="fa fa-heart" aria-hidden="true"></i> for the Decentralized World.</p>
                                                  <p class='desc_footer_ico'>ICOLendingReviews.com is the industry’s most trusted investigative review and reporting agency for lending coin ICOs.</p>
                                                  <br/>
                                                  <p>© 2018 ICO Lending Reviews. </p><br/>
                                              </div>
                                          </div>
                                          <div class='new_footer_col_two'>
                                              <div class="menu-menu-footer-one-container">
                                                  <ul id="menu-menu-footer-one" class="menu">
                                                      <li id="menu-item-7535" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-7535"><a href="#">Active ICO</a></li>
                                                      <li id="menu-item-7536" class="menu-item menu-item-type-taxonomy menu-item-object-category current-menu-item menu-item-7536 active "><a href="#">Upcoming ICO</a></li>
                                                      <li id="menu-item-7537" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-7537"><a href="#">Ended ICO</a></li>
                                                      <li id="menu-item-7557" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7557"><a href="#">Bounty List</a></li>
                                                  </ul>
                                              </div>
                                          </div>
                                          <div class='new_footer_col_three'>
                                              <div class="menu-menu-footer-two-container">
                                                  <ul id="menu-menu-footer-two" class="menu">
                                                      <li id="menu-item-7541" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7541"><a href="#">ICO Calendar</a></li>
                                                      <li id="menu-item-7543" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7543"><a href="#">Newsletter</a></li>
                                                      <li id="menu-item-7577" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7577"><a href="#">Submit ICO</a></li>
                                                      <li id="menu-item-7558" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7558"><a href="#">Advertising</a></li>
                                                  </ul>
                                              </div>
                                          </div>
                                          <div class='new_footer_col_four'>
                                              <div class="menu-menu-footer-three-container">
                                                  <ul id="menu-menu-footer-three" class="menu">
                                                      <li id="menu-item-7548" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7548"><a target="_blank" href="mailto:icolendingreviews@gmail.com">Email</a></li>
                                                      <li id="menu-item-7549" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7549"><a target="_blank" href="https://twitter.com/icolendreviews">Twitter</a></li>
                                                      <li id="menu-item-7550" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7550"><a target="_blank" href="#">Telegram</a></li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </footer><!-- #colophon -->
      </div><!-- #page -->
        
      <a href="#0" class="cd-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>

