<article class="post-18366 pre_sale type-pre_sale status-publish has-post-thumbnail hentry category-upcoming-ico" id="post-18366">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">

      <div class="white-desk" id="our-methodologies">
        <div class="important-note">
          <span class="red">Our methodologies: </span>
          <span>Web traffic, google trend, telegram activity and followers, social media activity and followers, Bitcointalk forum, website coding, hosting analytics, blockchain technology and business vision.</span>
        </div>
        <div class="separator"></div>
      </div>

      <div class="white-desk ico-desk">
        <div class="ico-row">
          <div class="ico-icon">
            <img width="40" height="40" alt="{{project.name}}" [attr.src]="'./assets/img/logo/' + project.logo" data-lazy-type="image"/>
          </div>
          <div class="ico-main-info">
            <h3>{{project.name}}</h3>
            <div class="ico-description">
              {{project.description}}
            </div>
          </div>
        </div>
        <div class="ico-row" id="middle-desk">
          <div class="ico-media">
            <div class="embed-container">
              <iframe *ngIf="project.media_url.indexOf('youtube') !== -1" width="640" height="360" [attr.src]="sanitizer.bypassSecurityTrustResourceUrl(project.media_url)" frameborder="0" gesture="media"
                allow="encrypted-media" allowfullscreen></iframe>
              <img *ngIf="project.media_url.indexOf('youtube') === -1" width="640" height="360" alt="{{project.media_url}}" [attr.src]="'./assets/img/' + project.media_url" data-lazy-type="image"/>
            </div>
          </div>
          <div class="ico-right-col">
            <div class="token-sale">
              Token sale
              <strong>
                starts
              </strong>
            </div>
            <div class="sale-date">
              <strong>{{project.start}}</strong>
            </div>
            <div class="fund-goal">
              <div class="blue money-goal">
                ${{ project.goal | number}}
              </div>
              <div class="goal">GOAL</div>
            </div>
            <a href="{{project.website}}" target="_blank" rel="nofollow">
              <div class="button">WEBSITE</div>
            </a>
            <a href="{{project.whitepaper}}" target="_blank" rel="nofollow">
              <div class="button">WHITEPAPER</div>
            </a>
            <div class="sosial-links-title">social links</div>
            <div class="soc_links">
              <a *ngIf="project.github !== ''" href="{{project.github}}" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
              <a *ngIf="project.twitter !== ''" href="{{project.twitter}}" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a *ngIf="project.telegram !== ''" href="{{project.telegram}}" target="_blank">
                <i class="fa fa-telegram" aria-hidden="true"></i>
              </a>
              <a *ngIf="project.bitcointalk !== ''" href="{{project.bitcointalk}}" target="_blank">
                <i class="fa fa-btc" aria-hidden="true"></i>
              </a>
              <a *ngIf="project.youtube !== ''" href="{{project.youtube}}" target="_blank">
                <i class="fa fa-youtube" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="separator"></div>
      <div class="white-desk ico-desk">
        <div class="title-h4">
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <h4>Our rating</h4>
          <sup>
            <a style="cursor: pointer" [attr.href]="'/' + project.id + '#our-methodologies'">
              <i class="fa fa-question-circle grey" aria-hidden="true"></i>
            </a>
          </sup>
        </div>
        <div class="ico-row rating-field">
          <div class="rating-items">

            <div class="rating-item">
              <div class="rating-box">
                <p>Hype rate</p>
                <p [attr.class]="'rate ' + project.hype.replace(' ','_').toLowerCase() + '1'">{{project.hype}}</p>
              </div>
            </div>
            <div class="rating-item">
              <div class="rating-box">
                <p>Risk rate</p>
                <p [attr.class]="'rate ' + project.scam.replace(' ','_').toLowerCase() + '2'">{{project.scam}}</p>
              </div>
            </div>
            <div class="rating-item">
              <div class="rating-box">
                <p>ROI rate</p>
                <p [attr.class]="'rate ' + project.moon.replace(' ','_').toLowerCase() + '3'">{{project.moon}}</p>
              </div>
            </div>
          </div>
          <div class="rating-result">
            <div class="rating-box">
              <p>SHOULD JOIN</p>
              <p class="ico-rate">{{project.betting}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="separator"></div>
      <div class="white-desk ico-desk">
        <div class="row list">
          <div class="col-12 title-h4">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <h4>
              Token sale: {{project.start}} to {{project.end}}
            </h4>
          </div>
          <div class="col-12 col-md-6">
            <li>
              <span class="grey">Ticker: </span>{{project.ticker}}</li>
            <li>
              <span class="grey">Token type: </span>{{project.token_type}}</li>
            <li>
              <span class="grey">ICO Token Price: </span>{{project.price}}</li>
            <li>
              <span class="grey">Fundraising Goal: </span>${{project.goal | number}}</li>
          </div>
          <div class="col-12 col-md-6">
            <li>
                <span class="grey">Total Tokens: </span>{{project.total_token | number}} {{project.ticker}}</li>
              <li>
                <span class="grey">Available for Token Sale: </span>{{project.available_token_sale | number}} {{project.ticker}}</li>
            <li>
              <span class="grey">Ref Bonus: </span>{{project.ref_bonus}}</li>
            <li>
              <span class="grey">Accepts: </span>{{project.accepts}}</li>
          </div>
        </div>
      </div>
      <div class="separator"></div>
      <div class="white-desk ico-desk">
        <div class="row list">
          <div class="col-12 title-h4">
            <i class="fa fa-bullseye" aria-hidden="true"></i>
            <h4>Short Review</h4>
          </div>
          <div class="col-12 info-analysis-list">
            <li>
              <span class="grey">Social Activity Level: </span>{{project.social_activity_level}}</li>
            <li>
              <span class="grey">Country: </span>{{project.country}}</li>
            <li>
              <span class="grey">Number of Team Members: </span>{{project.number_team_member}}</li>
            <li>
              <span class="grey">Customer Support: </span><a href="mailto:{{project.customer_support_email}}" target="_blank" rel="nofollow">
                Email</a> 
                <i class="fa fa-external-link" aria-hidden="true"></i></li>
            <li>
                <span class="grey">SSL certificate: </span>{{project.ssl_certificate}}</li>
            <li>
              <span class="grey">Domain Registered: </span>{{project.domain_registered}}</li>
            <li>
              <span class="grey">Domain Expires: </span>{{project.domain_expires}}</li>
            <li>
              <span class="grey">Desktop Wallet: </span>{{project.desktop_wallet}}</li>
            <li>
              <span class="grey">Internal Exchange: </span>{{project.internal_exchange}}</li>
            <li>
              <span class="grey">External Exchange: </span>{{project.external_exchange}}</li>
          </div>
        </div>
      </div>
      <div class="separator"></div>
    </div>
  </div>
</article>
